---
import EncodingPage from '../../../components/EncodingPage.astro';

const title = "JSON Formatter";
const description = "This free online JSON formatter helps you beautify your JSON string and make it more readable. You can choose the indentation level and characters.";
const toolName = "Format";
const jsFile = "json.js?v=6";
const activePage = "json/formatter";
const reverseLink = "";
const initScript = `window.method = withOptions(json.format, ['indent-type', 'indent']); methodLoad();`;
---

<EncodingPage
    title={title}
    description={description}
    toolName={toolName}
    jsFile={jsFile}
    activePage={activePage}
    reverseLink={reverseLink}
    hasInputSettings={false}
    hasOutputSettings={false}
    hasFormatSettings={false}
    initScript={initScript}
    editorLanguage="json"
>
    <div slot="settings">
        <div class="setting">
            <label for="indent-type">Indent Type</label>
            <select id="indent-type" data-option="indent-type" data-remember="indent-type">
                <option value="space" selected>Space</option>
                <option value="tab">Tab</option>
            </select>
        </div>
        <div class="setting">
            <label for="indent">Indent</label>
            <input id="indent" type="number" value="2" step="1" min="1" max="10" data-option="indent" data-remember="indent">
        </div>
    </div>
</EncodingPage>
