---
import EncodingPage from '../../../components/EncodingPage.astro';

const title = "JSON Viewer";
const description = "This JSON Viewer online tool helps you view JSON object in a readable way.";
const toolName = "View";
const jsFile = "json.js?v=6";
const activePage = "json/viewer";
const reverseLink = "";
const initScript = `window.method = json.view; methodLoad();`;
---

<EncodingPage
    title={title}
    description={description}
    toolName={toolName}
    jsFile={jsFile}
    activePage={activePage}
    reverseLink={reverseLink}
    hasInputSettings={false}
    hasOutputSettings={false}
    hasFormatSettings={false}
    initScript={initScript}
    editorLanguage="json"
    hasOutputTextarea={false}
    outputToggleMonaco={false}
>
    <script slot="scripts" is:inline>
        ++waitLoadCount;
        delayScripts.push({
            src: 'https://pfau-software.de/json-viewer/dist/iife/index.js',
            onload: function () {
                methodLoad();
            }
        });
    </script>
    <div slot="after-output-textarea" class="container json-viewer" id="output"></div>
</EncodingPage>
