---
import EncodingPage from '../../../components/EncodingPage.astro';
import { languages } from '../../../i18n/ui';
import { useTranslations } from '../../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);

const title = t('base32_encode_file.title');
const description = t('base32_encode_file.description');
const toolName = t('encode');
const jsFile = 'base32.js?v=2';
const activePage = 'encoding/base32_encode_file';
---

<EncodingPage
  title={title}
  description={description}
  toolName={toolName}
  jsFile={jsFile}
  activePage={activePage}
  reverseLink=""
  hasInputSettings={false}
  hasOutputSettings={false}
  hasFileInput={true}
  inputFileUrlPlaceholder={t('url_placeholder')}
  inputFileDropText={t('drag_drop')}
  initScript={`
        window.method = base32Encode;
        methodLoad();
    `}
  extraJsFile="base32.min.js"
>
  <div slot="settings">
    <div class="setting">
      <label for="file-type">{t('input_type')}</label>
      <select id="file-type" data-remember="file-type" data-auto-update>
        <option value="file">File</option>
        <option value="url">URL</option>
      </select>
    </div>
  </div>

  <script
    is:inline
    slot="scripts"
    set:html={`
        ++waitLoadCount;
        delayScripts.push({
            src: '/js/url-blob.js?v=1',
            onload: function () {
                methodLoad();
            }
        });
        ++waitLoadCount;
        delayScripts.push({
            src: '/js/droppable-file.js',
            onload: function () {
                methodLoad();
            }
        });
        ++waitLoadCount;
        delayScripts.push({
            src: '/js/file.js?v=10',
            onload: function () {
                methodLoad();
            }
        });
        window.PROCESSING_MESSAGE = 'encoding...';
    `}
  />
</EncodingPage>
