---
import BasePage from '../../../components/BasePage.astro';
import InputFileBlock from '../../../components/InputFileBlock.astro';
import OutputBlock from '../../../components/OutputBlock.astro';
import SettingBlock from '../../../components/SettingBlock.astro';
import { languages } from '../../../i18n/ui';
import { useTranslations } from '../../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);

const title = t('hex_decode_file.title');
const description = t('hex_decode_file.description');
const toolName = t('decode');
const jsFile = 'hex.js?v=3';
const activePage = 'encoding/hex_decode_file';
---

<BasePage title={title} description={description} activePage={activePage}>
  <div class="layout">
    <div class="layout-block">
      <InputFileBlock
        title={t('input')}
        urlPlaceholder={t('enter_here')}
        dropText={t('drag_drop')}
        dataRemember="input"
        dataShare="input"
        dataAutoUpdate={true}
      />

      <OutputBlock
        title={t('output')}
        placeholder={t('output_placeholder')}
        dataEncodingFrom="#output-type"
        isReadonly={true}
        showDownload={true}
        showCopy={false}
        showShareLink={false}
      />
    </div>

    <SettingBlock executeLabel={toolName}>
      <div class="setting">
        <label for="file-type">{t('input_type')}</label>
        <select id="file-type" data-remember="file-type" data-auto-update>
          <option value="text">Encoded Text</option>
          <option value="file">Encoded File</option>
        </select>
      </div>

      <div class="setting">
        <label for="download-file-name">{t('file_name')}</label>
        <input
          type="text"
          id="download-file-name"
          data-remember="download-file-name"
          value="download.txt"
          placeholder={t('file_name')}
        />
      </div>
    </SettingBlock>
  </div>

  <script
    is:inline
    set:html={`
        ++waitLoadCount;
        delayScripts.push({
            src: '/js/${jsFile}',
            onload: function () {
                window.method = download;
                methodLoad();
            }
        });
        ++waitLoadCount;
        delayScripts.push({
            src: '/js/encoding.js?v=8',
            onload: function () {
                methodLoad();
            }
        });
        window.PROCESSING_MESSAGE = 'decoding...';
    `}
  />
</BasePage>
