---
import EncodingPage from '../../../components/EncodingPage.astro';
import { languages } from '../../../i18n/ui';
import { useTranslations } from '../../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);

const title = t('html_decode.title');
const description = t('html_decode.description');
const toolName = t('decode');
const jsFile = 'htmlencode.min.js';
const activePage = 'encoding/html_decode';
---

<EncodingPage
  title={title}
  description={description}
  toolName={toolName}
  jsFile={jsFile}
  activePage={activePage}
  reverseLink="encoding/html_encode"
  hasInputSettings={false}
  hasOutputSettings={false}
  initScript={`
        window.method = htmlDecode;
        methodLoad();
    `}
>
  <div slot="settings">
    <div class="setting">
      <label class="switcher">
        <input
          type="checkbox"
          value="1"
          id="pretty-display"
          data-option="pretty-display"
          data-remember="pretty-display"
        />
        <div class="toggle"></div>
        <span>{t('pretty_display')}</span>
      </label>
    </div>
  </div>

  <script
    is:inline
    slot="scripts"
    set:html={`
        ++waitLoadCount;
        delayScripts.push({
            src: '/js/monaco-editor.js?v=1',
            onload: function () {
                methodLoad();
            }
        });
    `}
  />
</EncodingPage>
