---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import Sidebar from "../../../../components/Sidebar.astro";
import PageHeader from "../../../../components/PageHeader.astro";
import { languages } from '../../../../i18n/ui';
import { useTranslations } from "../../../../i18n/utils";

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
      return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);

const title = t('qr_code_generator.title');
const description = t('qr_code_generator.description');
const activePage = "qr-code/generator/";
---

<BaseLayout title={title} description={description}>
  <link rel="stylesheet" href="/css/qrcode.css?v=6" slot="head-css" />
  <link rel="stylesheet" href="https://artf.github.io/grapick/dist/grapick.min.css" media="print" onload="this.media='all'" slot="head-css" />
  <noscript slot="head-css"><link rel="stylesheet" href="https://artf.github.io/grapick/dist/grapick.min.css"></noscript>

  <div id="app">
    <Sidebar activePage={activePage} />
    <div id="content">
      <div class="top-nav">
        <button id="sidebar-toggler" aria-controls="sidebar" aria-expanded="false" aria-label={t('sidebar.toggle_menu')}>
          <i data-lucide="menu"></i>
        </button>
      </div>
      <PageHeader title={title} description={description} />
      <main>
        <div class="layout">
          <div class="layout-block">
            <div class="input">
              <div class="block block-fill">
                <div class="block-title">
                  {t('input')}
                  <div class="toolbar">
                    <button class="icon" data-toggle="fullscreen">
                      <i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i>
                      <i class="fullscreen-icon-exit" data-lucide="minimize" title="Full Screen"></i>
                    </button>
                  </div>
                </div>
                <textarea class="container" id="input" spellcheck="false" placeholder={t('enter_here')} data-remember="input" data-share="input" data-encoding-from="#input-type" data-auto-update data-toggle="monacoEditor"></textarea>
              </div>
              <details class="block">
                <summary class="block-title">{t('examples')}<div class="toolbar"></div></summary>
                <div class="examples">
                  <a href="/qr-code/generator/?input=https%3A%2F%2Fwww.facebook.com%2F&type=png&size=150&padding=8&ec=H&dot_option_type=dots&dot_option_color=%230866FF&corners_square_option_type=dot&corners_square_option_color=%230866FF&corners_dot_option_type=dot&corners_dot_option_color=%230866FF&background_option_color=rgb(255%2C%20255%2C%20255)&image_type=url&image=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fb%2Fb9%2F2023_Facebook_icon.svg&image_size=0.3&image_margin=0&image_show_background=0" target="_blank">
                    <iframe src="/qr-code/?input=https%3A%2F%2Fwww.facebook.com%2F&type=png&size=150&padding=8&ec=H&dot_option_type=dots&dot_option_color=%230866FF&corners_square_option_type=dot&corners_square_option_color=%230866FF&corners_dot_option_type=dot&corners_dot_option_color=%230866FF&background_option_color=rgb(255%2C%20255%2C%20255)&image_type=url&image=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fb%2Fb9%2F2023_Facebook_icon.svg&image_size=0.3&image_margin=0&image_show_background=0" style="border: none; overflow: hidden;" width="150" height="150" loading="lazy"></iframe>
                  </a>
                  <a href="/qr-code/generator/?input=https%3A%2F%2Fwww.youtube.com%2F&type=png&size=150&padding=8&ec=H&dot_option_type=dots&dot_option_color=%230f0f0f&corners_square_option_type=square&corners_square_option_color=red&corners_dot_option_type=square&corners_dot_option_color=red&background_option_color=rgb(255%2C%20255%2C%20255)&image_type=url&image=https%3A%2F%2Fwww.youtube.com%2Fs%2Fdesktop%2Ff8d5cd66%2Fimg%2Ffavicon_48x48.png&image_size=0.3&image_margin=2&image_show_background=0" target="_blank">
                    <iframe src="/qr-code/?input=https%3A%2F%2Fwww.youtube.com%2F&type=png&size=150&padding=8&ec=H&dot_option_type=dots&dot_option_color=%230f0f0f&corners_square_option_type=square&corners_square_option_color=red&corners_dot_option_type=square&corners_dot_option_color=red&background_option_color=rgb(255%2C%20255%2C%20255)&image_type=url&image=https%3A%2F%2Fwww.youtube.com%2Fs%2Fdesktop%2Ff8d5cd66%2Fimg%2Ffavicon_48x48.png&image_size=0.3&image_margin=2&image_show_background=0" style="border: none; overflow: hidden;" width="150" height="150" loading="lazy"></iframe>
                  </a>
                  <a href="/qr-code/generator/?input=https%3A%2F%2Finstagram.com%2F&type=png&size=150&padding=8&ec=H&dot_option_type=extra-rounded&dot_option_color_type=linear&dot_option_gradient_color=%5B%5B9.401197604790418%2C%22%23ffca00%22%5D%2C%5B92.21556886227545%2C%22%23fc03d5%22%5D%5D&dot_option_rotation=-45&corners_square_option_type=extra-rounded&corners_square_option_color=%23fc03d5&corners_dot_option_color=%23fc03d5&background_option_color=rgb(255%2C%20255%2C%20255)&image_type=url&image=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F9%2F95%2FInstagram_logo_2022.svg&image_size=0.3&image_margin=2&image_show_background=0" target="_blank">
                    <iframe src="/qr-code/?input=https%3A%2F%2Finstagram.com%2F&type=png&size=150&padding=8&ec=H&dot_option_type=extra-rounded&dot_option_color_type=linear&dot_option_gradient_color=%5B%5B9.401197604790418%2C%22%23ffca00%22%5D%2C%5B92.21556886227545%2C%22%23fc03d5%22%5D%5D&dot_option_rotation=-45&corners_square_option_type=extra-rounded&corners_square_option_color=%23fc03d5&corners_dot_option_color=%23fc03d5&background_option_color=rgb(255%2C%20255%2C%20255)&image_type=url&image=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F9%2F95%2FInstagram_logo_2022.svg&image_size=0.3&image_margin=2&image_show_background=0" style="border: none; overflow: hidden;" width="150" height="150" loading="lazy"></iframe>
                  </a>
                  <a href="/qr-code/generator/?input=https%3A%2F%2Fx.com%2F&type=png&size=150&padding=8&ec=H&dot_option_type=square&dot_option_color=%23000&corners_square_option_type=extra-rounded&corners_square_option_color=%23000&corners_dot_option_type=dot&corners_dot_option_color=rgb(29%2C%20155%2C%20240)&background_option_color=rgb(255%2C%20255%2C%20255)&image_type=url&image=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fc%2Fce%2FX_logo_2023.svg&image_size=0.3&image_margin=2&image_show_background=0" target="_blank">
                    <iframe src="/qr-code/?input=https%3A%2F%2Fx.com%2F&type=png&size=150&padding=8&ec=H&dot_option_type=square&dot_option_color=%23000&corners_square_option_type=extra-rounded&corners_square_option_color=%23000&corners_dot_option_type=dot&corners_dot_option_color=rgb(29%2C%20155%2C%20240)&background_option_color=rgb(255%2C%20255%2C%20255)&image_type=url&image=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fc%2Fce%2FX_logo_2023.svg&image_size=0.3&image_margin=2&image_show_background=0" style="border: none; overflow: hidden;" width="150" height="150" loading="lazy"></iframe>
                  </a>
                </div>
              </details>
            </div>
            <div class="output">
              <div class="block block-fill">
                <div class="block-title">
                  {t('output')}
                  <div class="toolbar">
                    <a class="icon" id="download-image" download="download" style="display:none" onclick="gtag('event', 'download');">
                      <i data-lucide="download" title="Download"></i>
                    </a>
                    <button class="icon" data-toggle="fullscreen">
                      <i class="fullscreen-icon" data-lucide="maximize" title="Full Screen"></i>
                      <i class="fullscreen-icon-exit" data-lucide="minimize" title="Full Screen"></i>
                    </button>
                  </div>
                </div>
                <div class="container" id="qrcode"></div>
              </div>
              <details class="block" data-toggle="copyblock">
                <summary class="block-title">
                  {t('embedded_code')}
                  <div class="toolbar">
                    <button class="icon" data-toggle="copy" data-clipboard-target="#output" data-message="Embedded code copied">
                      <i data-lucide="copy" title="Copy"></i>
                    </button>
                  </div>
                </summary>
                <textarea id="output" placeholder={t('embedded_code')} readonly="readonly"></textarea>
              </details>
              <details class="block" data-toggle="copyblock">
                <summary class="block-title">
                  {t('qrcode_link')}
                  <div class="toolbar">
                    <button class="icon" data-toggle="copy" data-clipboard-target="#qrcode-link" data-message="QR code link copied">
                      <i data-lucide="copy" title="Copy"></i>
                    </button>
                  </div>
                </summary>
                <input id="qrcode-link" type="text" placeholder={t('qrcode_link')} readonly="readonly" />
              </details>
              <details class="block text-only" data-toggle="copyblock">
                <summary class="block-title">
                  {t('share_link')}
                  <div class="toolbar">
                    <button class="icon" data-toggle="copy" data-clipboard-target="#share-link" data-message="Share link copied">
                      <i data-lucide="copy" title="Copy"></i>
                    </button>
                  </div>
                </summary>
                <input id="share-link" type="text" placeholder={t('share_link')} readonly="readonly" />
              </details>
            </div>
          </div>
          <div class="settings">
            <div class="block block-fill">
              <div class="block-title">{t('settings')}</div>
              <div class="container">
                <div class="setting"><a class="btn" id="execute">{t('generate')}</a></div>
                <div class="setting">
                  <label class="switcher">
                    <input type="checkbox" value="1" id="auto-update" checked />
                    <div class="toggle"></div>
                    <span>{t('auto_update')}</span>
                  </label>
                </div>
                <div class="setting">
                  <label class="switcher">
                    <input type="checkbox" value="1" id="remember-input" />
                    <div class="toggle"></div>
                    <span>{t('remember_input')}</span>
                  </label>
                </div>
                <details class="setting-group" open>
                  <summary>{t('main')}</summary>
                  <div class="setting">
                    <label for="type">{t('type')}</label>
                    <select id="type" data-remember="type" data-share="type" data-auto-update>
                      <option value="png">PNG</option>
                      <option value="jpeg">JPG</option>
                      <option value="svg">SVG</option>
                      <option value="webp">WEBP</option>
                    </select>
                  </div>
                  <div class="setting">
                    <label for="size">{t('size')}</label>
                    <input type="number" id="size" data-option="size" data-remember="size" data-share="size" value="256" step="1" min="64" max="2000" />
                  </div>
                  <div class="setting">
                    <label for="padding">{t('padding')}</label>
                    <input type="number" id="padding" data-option="padding" data-remember="padding" data-share="padding" value="16" step="1" min="0" max="2000" />
                  </div>
                  <div class="setting">
                    <label for="ec">{t('error_correction')}</label>
                    <select id="ec" data-remember="ec" data-share="ec" data-auto-update>
                      <option value="L">L</option>
                      <option value="M">M</option>
                      <option value="Q" selected>Q</option>
                      <option value="H">H</option>
                    </select>
                  </div>
                </details>
                <details class="setting-group" open>
                  <summary>{t('dot')}</summary>
                  <div class="setting">
                    <label for="dot-option-type">{t('type')}</label>
                    <select id="dot-option-type" data-option="dotoption-type" data-remember="dotoption-type" data-share="dot_option_type">
                      <option value="rounded">Rounded</option>
                      <option value="dots">Dots</option>
                      <option value="classy">Classy</option>
                      <option value="classy-rounded">Classy Rounded</option>
                      <option value="square" selected>Square</option>
                      <option value="extra-rounded">Extra Rounded</option>
                    </select>
                  </div>
                  <div class="setting">
                    <label for="dot-option-color-type">{t('color_type')}</label>
                    <select id="dot-option-color-type" data-option="dotoption-color-type" data-remember="dotoption-color-type" data-share="dot_option_color_type" data-toggle="color-type">
                      <option value="">Single Color</option>
                      <option value="linear">Linear Gradient</option>
                      <option value="radial">Radial Gradient</option>
                    </select>
                  </div>
                  <div class="setting color-block">
                    <label for="dot-option-color">{t('color')}</label>
                    <div class="color-input">
                      <div class="color-wrapper"><div class="color"></div></div>
                      <input spellcheck="false" value="#000" id="dot-option-color" data-option="dot-option-color" data-remember="dot-option-color" data-share="dot_option_color" />
                    </div>
                  </div>
                  <div class="setting grapick-block">
                    <label for="dot-option-gradient-color">{t('color')}</label>
                    <input value='[[10,"#000"],[90,"#49b1f5"]]' data-toggle="grapick" id="dot-option-gradient-color" data-option="dot-option-gradient-color" data-remember="dot-option-gradient-color" data-share="dot_option_gradient_color" />
                    <div class="color-input">
                      <div class="color-wrapper"><div class="color"></div></div>
                      <input spellcheck="false" />
                    </div>
                  </div>
                  <div class="setting rotation-block">
                    <label for="dot-option-rotation">{t('rotation')}</label>
                    <input type="number" id="dot-option-rotation" data-option="dot-option-rotation" data-remember="dot-option-rotation" data-share="dot_option_rotation" value="0" step="1" min="-180" max="180" />
                  </div>
                </details>
                <details class="setting-group" open>
                  <summary>{t('corners_square')}</summary>
                  <div class="setting">
                    <label for="corners-square-option-type">{t('type')}</label>
                    <select id="corners-square-option-type" data-option="corners-squareoption-type" data-remember="corners-squareoption-type" data-share="corners_square_option_type">
                      <option value="">None</option>
                      <option value="dot">Dot</option>
                      <option value="square">Square</option>
                      <option value="extra-rounded">Extra Rounded</option>
                    </select>
                  </div>
                  <div class="setting">
                    <label for="corners-square-option-color-type">{t('color_type')}</label>
                    <select id="corners-square-option-color-type" data-option="corners-squareoption-color-type" data-remember="corners-squareoption-color-type" data-share="corners_square_option_color_type" data-toggle="color-type">
                      <option value="">Single Color</option>
                      <option value="linear">Linear Gradient</option>
                      <option value="radial">Radial Gradient</option>
                    </select>
                  </div>
                  <div class="setting color-block">
                    <label for="corners-square-option-color">{t('color')}</label>
                    <div class="color-input">
                      <div class="color-wrapper"><div class="color"></div></div>
                      <input spellcheck="false" value="#000" id="corners-square-option-color" data-option="corners-square-option-color" data-remember="corners-square-option-color" data-share="corners_square_option_color" />
                    </div>
                  </div>
                  <div class="setting grapick-block">
                    <label for="corners-square-option-gradient-color">{t('color')}</label>
                    <input value='[[10,"#000"],[90,"#49b1f5"]]' data-toggle="grapick" id="corners-square-option-gradient-color" data-option="corners-square-option-gradient-color" data-remember="corners-square-option-gradient-color" data-share="corners_square_option_gradient_color" />
                    <div class="color-input">
                      <div class="color-wrapper"><div class="color"></div></div>
                      <input spellcheck="false" />
                    </div>
                  </div>
                  <div class="setting rotation-block">
                    <label for="corners-square-option-rotation">{t('rotation')}</label>
                    <input type="number" id="corners-square-option-rotation" data-option="corners-square-option-rotation" data-remember="corners-square-option-rotation" data-share="corners_square_option_rotation" value="0" step="1" min="-180" max="180" />
                  </div>
                </details>
                <details class="setting-group" open>
                  <summary>{t('corners_dot')}</summary>
                  <div class="setting">
                    <label for="corners-dot-option-type">{t('type')}</label>
                    <select id="corners-dot-option-type" data-option="corners-dotoption-type" data-remember="corners-dotoption-type" data-share="corners_dot_option_type">
                      <option value="">None</option>
                      <option value="dot">Dot</option>
                      <option value="square">Square</option>
                    </select>
                  </div>
                  <div class="setting">
                    <label for="corners-dot-option-color-type">{t('color_type')}</label>
                    <select id="corners-dot-option-color-type" data-option="corners-dotoption-color-type" data-remember="corners-dotoption-color-type" data-share="corners_dot_option_color_type" data-toggle="color-type">
                      <option value="">Single Color</option>
                      <option value="linear">Linear Gradient</option>
                      <option value="radial">Radial Gradient</option>
                    </select>
                  </div>
                  <div class="setting color-block">
                    <label for="corners-dot-option-color">{t('color')}</label>
                    <div class="color-input">
                      <div class="color-wrapper"><div class="color"></div></div>
                      <input spellcheck="false" value="#000" id="corners-dot-option-color" data-option="corners-dot-option-color" data-remember="corners-dot-option-color" data-share="corners_dot_option_color" />
                    </div>
                  </div>
                  <div class="setting grapick-block">
                    <label for="corners-dot-option-gradient-color">{t('color')}</label>
                    <input value='[[10,"#000"],[90,"#49b1f5"]]' data-toggle="grapick" id="corners-dot-option-gradient-color" data-option="corners-dot-option-gradient-color" data-remember="corners-dot-option-gradient-color" data-share="corners_dot_option_gradient_color" />
                    <div class="color-input">
                      <div class="color-wrapper"><div class="color"></div></div>
                      <input spellcheck="false" />
                    </div>
                  </div>
                  <div class="setting rotation-block">
                    <label for="corners-dot-option-rotation">{t('rotation')}</label>
                    <input type="number" id="corners-dot-option-rotation" data-option="corners-dot-option-rotation" data-remember="corners-dot-option-rotation" data-share="corners_dot_option_rotation" value="0" step="1" min="-180" max="180" />
                  </div>
                </details>
                <details class="setting-group" open>
                  <summary>{t('background')}</summary>
                  <div class="setting">
                    <label for="background-option-color-type">{t('color_type')}</label>
                    <select id="background-option-color-type" data-option="backgroundoption-color-type" data-remember="backgroundoption-color-type" data-share="background_option_color_type" data-toggle="color-type">
                      <option value="">Single Color</option>
                      <option value="linear">Linear Gradient</option>
                      <option value="radial">Radial Gradient</option>
                    </select>
                  </div>
                  <div class="setting color-block">
                    <label for="background-option-color">{t('color')}</label>
                    <div class="color-input">
                      <div class="color-wrapper"><div class="color"></div></div>
                      <input spellcheck="false" value="#fff" id="background-option-color" data-option="background-option-color" data-remember="background-option-color" data-share="background_option_color" />
                    </div>
                  </div>
                  <div class="setting grapick-block">
                    <label for="background-option-gradient-color">{t('color')}</label>
                    <input value='[[10,"#49b1f5"],[90,"#fff"]]' data-toggle="grapick" id="background-option-gradient-color" data-option="background-option-gradient-color" data-remember="background-option-gradient-color" data-share="background_option_gradient_color" />
                    <div class="color-input">
                      <div class="color-wrapper"><div class="color"></div></div>
                      <input spellcheck="false" />
                    </div>
                  </div>
                  <div class="setting rotation-block">
                    <label for="background-option-rotation">{t('rotation')}</label>
                    <input type="number" id="background-option-rotation" data-option="background-option-rotation" data-remember="background-option-rotation" data-share="background_option_rotation" value="0" step="1" min="-180" max="180" />
                  </div>
                </details>
                <details class="setting-group" open>
                  <summary>{t('image')}</summary>
                  <div class="setting">
                    <label for="image-type">{t('type')}</label>
                    <select id="image-type" data-option="image-type" data-remember="image-type" data-share="image_type">
                      <option value="url">URL</option>
                      <option value="file">File</option>
                    </select>
                  </div>
                  <div class="setting" id="url-block">
                    <label for="image">URL</label>
                    <input type="text" id="image" data-option="image" data-remember="image" data-share="image" placeholder="URL" />
                  </div>
                  <div class="setting" id="file-block" style="display:none">
                    <label for="image-file">File</label>
                    <div class="droppable-zone">
                      <input class="droppable-file" type="file" id="image-file" data-option="image-file" accept="image/*" />
                      <div class="droppable-zone-wrapper">
                        <i class="droppable-zone-icon" data-lucide="file-up"></i>
                        <div class="droppable-zone-text">{t('drag_drop')}</div>
                      </div>
                    </div>
                  </div>
                  <div class="setting">
                    <label for="image-size">{t('size')}</label>
                    <input id="image-size" type="range" value="0.4" step="0.1" min="0.1" max="0.5" data-option="image-size" data-remember="image-size" data-share="image_size" />
                  </div>
                  <div class="setting">
                    <label for="image-margin">{t('margin')}</label>
                    <input type="number" id="image-margin" data-option="image-margin" data-remember="image-margin" data-share="image_margin" value="0" step="1" min="0" max="20" />
                  </div>
                  <div class="setting">
                    <label class="switcher">
                      <input type="checkbox" value="1" id="image-show-background" data-option="image-show-background" data-remember="image-show-background" data-share="image_show_background" />
                      <div class="toggle"></div>
                      <span>{t('show_background_dots')}</span>
                    </label>
                  </div>
                </details>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <script is:inline>
    ++waitLoadCount;
    delayScripts.push({
      src: '/js/qrcode.js?v=8',
      onload: function () {
        window.method = withOptions(generate, []);
        methodLoad();
      }
    });
  </script>
  <script is:inline>
    ++waitLoadCount;
    delayScripts.push({
      src: '/js/url-blob.js?v=1',
      onload: function () {
        methodLoad();
      }
    });
  </script>
  <script is:inline>
    ++waitLoadCount;
    delayScripts.push({
      src: '/js/droppable-file.js?v=10',
      onload: function () {
        methodLoad();
      }
    });
  </script>
  <script is:inline>
    ++waitLoadCount;
    delayScripts.push({
      src: '/js/qr-code-styling.js',
      onload: function () {
        methodLoad();
      }
    });
  </script>
  <script is:inline>
    ++waitLoadCount;
    delayScripts.push({
      src: 'https://cdnjs.cloudflare.com/ajax/libs/tinyColorPicker/1.1.1/jqColorPicker.min.js',
      onload: function () {
        methodLoad();
      }
    });
  </script>
  <script is:inline>
    ++waitLoadCount;
    delayScripts.push({
      src: 'https://cdnjs.cloudflare.com/ajax/libs/tinyColorPicker/1.1.1/colors.min.js',
      onload: function () {
        methodLoad();
      }
    });
  </script>
  <script is:inline>
    ++waitLoadCount;
    delayScripts.push({
      src: 'https://artf.github.io/grapick/dist/grapick.min.js',
      onload: function () {
        methodLoad();
      }
    });
  </script>
  <script is:inline>
    delayScripts.push({
      src: '/js/clipboard.min.js',
      onload: function () {
        new ClipboardJS('[data-toggle="copy"]').on('success', function (e) {
          showMessage(e.trigger.getAttribute('data-message'));
          gtag('event', 'copy');
        });
      },
      delay: 100
    });
  </script>
</BaseLayout>
