---
import { useTranslations } from '../i18n/utils';
import FullscreenButton from './FullscreenButton.astro';
const {
  id = 'input',
  fileId = 'file',
  title = 'Input',
  urlPlaceholder = 'Enter the URL here, and it will attempt to download. If it cannot be downloaded programmatically, you may need to download it manually.',
  showFullscreen = true,
  // Data attributes for textarea
  dataRemember = null,
  dataShare = null,
  // Data attributes for file input
  dataAutoUpdate = true,
} = Astro.props;

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);
---

<div class="input">
  <div class="block block-fill">
    <div class="block-title">
      {title}
      <div class="toolbar">
        {showFullscreen && <FullscreenButton />}
      </div>
    </div>
    <textarea
      class="container"
      id={id}
      spellcheck="false"
      placeholder={urlPlaceholder}
      data-remember={dataRemember}
      data-share={dataShare}
      style="display:none"></textarea>
    <div class="droppable-zone container" id="droppable-zone">
      <input
        class="droppable-file"
        type="file"
        id={fileId}
        data-auto-update={dataAutoUpdate ? true : undefined}
      />
      <div class="droppable-zone-wrapper">
        <i class="droppable-zone-icon" data-lucide="file-up"></i>
        <div class="droppable-zone-text">{t('drag_drop')}</div>
      </div>
    </div>
  </div>
</div>

<!-- Load file handling scripts -->
<script is:inline>
  ++waitLoadCount;
  delayScripts.push({
    src: '/js/url-blob.js?v=1',
    onload: function () {
      methodLoad();
    },
  });

  ++waitLoadCount;
  delayScripts.push({
    src: '/js/droppable-file.js',
    onload: function () {
      methodLoad();
    },
  });

  ++waitLoadCount;
  delayScripts.push({
    src: '/js/file.js?v=10',
    onload: function () {
      methodLoad();
    },
  });
</script>
