---
const {
    id = "input",
    title = "Input",
    placeholder = "Enter here...",
    readonly = false,
    showFullscreen = true,
    showCopy = false,
    copyMessage = "Copied",
    // File upload support
    showFileUpload = false,
    fileId = "file",
    // Data attributes
    dataRemember = null,
    dataShare = null,
    dataEncodingFrom = null,
    dataAutoUpdate = false,
    dataToggleMonaco = true,
    dataLanguage = null,
} = Astro.props;

// Build data attributes object
const dataAttrs: Record<string, any> = {};
if (dataRemember) dataAttrs["data-remember"] = dataRemember;
if (dataShare) dataAttrs["data-share"] = dataShare;
if (dataEncodingFrom) dataAttrs["data-encoding-from"] = dataEncodingFrom;
if (dataAutoUpdate) dataAttrs["data-auto-update"] = true;
if (dataToggleMonaco) dataAttrs["data-toggle"] = "monacoEditor";
if (dataLanguage) dataAttrs["data-language"] = dataLanguage;
---

<div class="input">
    <div class="block block-fill">
        <div class="block-title">
            {title}
            <div class="toolbar">
                {
                    showCopy && (
                        <button class="icon" data-toggle="copy" data-clipboard-target={`#${id}`} data-message={copyMessage}>
                            <img src="/images/copy.svg" alt="Copy" title="Copy" />
                        </button>
                    )
                }
                {
                    showFullscreen && (
                        <button class="icon" data-toggle="fullscreen">
                            <img class="fullscreen-icon" src="/images/fullscreen.svg" alt="Full Screen" title="Full Screen" />
                            <img class="fullscreen-icon-exit" src="/images/fullscreen-exit.svg" alt="Full Screen" title="Full Screen" />
                        </button>
                    )
                }
            </div>
        </div>
        <textarea class="container" id={id} spellcheck="false" placeholder={placeholder} readonly={readonly ? "readonly" : undefined} {...dataAttrs}></textarea>
        {showFileUpload && (
            <div class="droppable-zone container" id="droppable-zone" style="display:none;">
                <input class="droppable-file" type="file" id={fileId} data-auto-update />
                <div class="droppable-zone-wrapper">
                    <img class="droppable-zone-icon" src="/images/file.svg" alt="File" />
                    <div class="droppable-zone-text">Drag and drop the file here or click to select a file. It will process locally and won't be uploaded.</div>
                </div>
            </div>
        )}
    </div>
</div>
