---
import EncodingPage from '../../components/EncodingPage.astro';

const title = "Decode Base64 to File";
const description = "This online Base64 decoding tool helps you decode Base64 to a file for download. It also supports various formats such as RFC 4648 (standard and URL Safe), RFC 2045 (MIME), RFC 2152 (UTF-7), and RFC 3501 (IMAP)";
const toolName = "Decode";
const jsFile = "base64.js?v=6";
const activePage = "encoding/base64_decode_file";
---

<EncodingPage
    title={title}
    description={description}
    toolName={toolName}
    jsFile={jsFile}
    activePage={activePage}
    reverseLink=""
    hasInputSettings={false}
    hasOutputSettings={false}
    hasFileInput={true}
    inputFileUrlPlaceholder="Enter here..."
    inputFileDropText="Drag and drop the file here or click to select a file. It will process locally and won't be uploaded."
    initScript={`
        window.method = download;
        methodLoad();
    `}
>
    <div slot="settings">
        <div class="setting">
            <label for="file-type">Input Type</label>
            <select id="file-type" data-remember="file-type" data-auto-update>
                <option value="text">Encoded Text</option>
                <option value="file">Encoded File</option>
            </select>
        </div>
        <div class="setting">
            <label for="download-file-name">File Name</label>
            <input type="text" id="download-file-name" data-remember="download-file-name" value="download.txt" placeholder="Download File Name">
        </div>
    </div>

    <script is:inline slot="scripts" set:html={`
        ++waitLoadCount;
        delayScripts.push({
            src: '/js/base64.min.js?v=0.4.1',
            onload: function () {
                methodLoad();
            }
        });
        ++waitLoadCount;
        delayScripts.push({
            src: '/js/url-blob.js?v=1',
            onload: function () {
                methodLoad();
            }
        });
        ++waitLoadCount;
        delayScripts.push({
            src: '/js/droppable-file.js',
            onload: function () {
                methodLoad();
            }
        });
        ++waitLoadCount;
        delayScripts.push({
            src: '/js/file.js?v=10',
            onload: function () {
                methodLoad();
            }
        });
        window.PROCESSING_MESSAGE = 'decoding...';
    `}></script>
</EncodingPage>
